{% extends 'base.html.twig' %}

{% block title %}Edit Infant{% endblock %}

{% block body %}
    <h1>Edit Infant</h1>

    {{ include('infant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_infant_index') }}">back to list</a>

    {{ include('infant/_delete_form.html.twig') }}
{% endblock %}
