{% extends 'infant/base.html.twig' %}

{% block body %}
    <div class="container-lg my-5">
        <h2>{{ 'infants'|trans }}</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ 'main'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'infants'|trans }}</li>
            </ol>
        </nav>
        <div class="container-lg my-5">
            <table class="table">
                <thead>
                    {% include 'blocks/kid_table_head.html.twig' %}
                </thead>
                <tbody>
                    {% set kids = infants %}
                    {% include 'blocks/kid_table_body.html.twig' with kids %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
